body {
  margin: 0;
  padding: 0;
}

.chat-main-container {
  background-color: rgba(198, 255, 255, 0.833);
  min-height: 100vh;
  padding: 20px;
  font-family: "roboto";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-heading {
  font-size: 20px;
}

.member-count-container {
  display: flex;
  align-items: center;
  color: rgb(182, 178, 178);
}

.member-count {
  margin-right: 8px;
  margin-top: 18px;
  font-weight: 600;
}

.user-input-container {
  display: flex;
  align-items: center;
  border: 2px solid #797878;
  border-right: none;
  border-radius: 7px;
}

.user-input {
  width: 100%;
  background-color: transparent;
}

.smile-button {
  margin-left: 10px;
}

.user-input__input {
  border: none;
  outline: none;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 600;
}

.chat-message-list {
  list-style-type: none;
  padding-left: 0;
  overflow: auto;
  max-height: 65vh;
}

.user-profile {
  border-radius: 40px;
  width: 50px;
  padding: 10px;
  text-align: center;
  align-self: flex-start;
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}

.profile-Alan {
  background-color: #ff002f;
}
.profile-Bob {
  background-color: #bbcf03;
}
.profile-Carol {
  background-color: #e98605;
}
.profile-Dean {
  background-color: #026bce;
}
.profile-Elin {
  background-color: #c905c9;
}

.user-message {
  display: flex;
  margin-bottom: 10px;
}

.username-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.username {
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
}

.message-timestamp {
  margin: 0;
}

.message-content-container {
  display: flex;
  align-items: center;
}

.each-user-message {
  padding: 10px;
  margin: 0;
  background-color: #f3eded;
  border-radius: 10px;
  margin-right: 5px;
}

.like-button {
  display: flex;
}

.like-count {
  margin-left: 5px;
}

.send-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-height: 45px;
  width: 50px;
  margin-left: 10px;
}

.emoji-popup-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 75px;
  margin-right: 40px;
}
